/* Estilo da navbar */
.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 32px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/* Container dos links */
.navbar .navlink {
  color: #374151; /* cinza escuro */
  text-decoration: none;
  font-weight: 600;
  margin-left: 10px;
  padding: 8px 24px;
  border-radius: 8px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* Hover nos links */
.navbar .navlink:hover {
  background-color:#8a2be2; /* roxo */
  color: white;
}

/* Opcional: destacar link ativo */
.navbar .navlink.active {
  background-color:blueviolet;
  color: white;
}
